;Write stripper version in spawn

add:
{
	"classname" "point_worldtext"

	"origin" "-16 -12834 6488"
	"angles" "0 90 0"
	"color" "255 255 255"
	"message" "stripper_ver.1"
	"spawnflags" "0"
	"textsize" "40"
}

;Fixed Extra Mode tp problem

modify:
{
	match:
	{
		"classname" "logic_relay"
		"targetname" "boss_allrelay"
	}
	insert:
	{
	        "OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_zmtp_1_des,45.2,-1"
		"OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_zmtp_2_des,59.4,-1"
	        "OnTrigger" "start_tp_noitem,Disable,,60,-1"
		"OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_zmtp_3_des,113.9,-1"
		"OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_zmtp_4_des,168.7,-1"
		"OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_zmtp_5_des,172.1,-1"
		"OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_zmtp_6_des,185.8,-1"
		"OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_zmtp_7_des,199.5,-1"
		"OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_zmtp_8_des,213.3,-1"
		"OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_zmtp_9_des,229,-1"
		"OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_phase4_zmtp_des,249.3,-1"
		"OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_phase4_zmtp2_des,304.5,-1"
		"OnTrigger" "start_tp_noitem_zm,SetRemoteDestination,boss_zmtp_12_des,317.9,-1"
	}
}

;Fixed ZM Items problem

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Item_zm_Bullet_1_drop"
	}
	insert:
	{
	        "OnStartTouch" "!self,kill,,0,-1"
	}
}

modify:
{
	match:
	{
		"classname" "trigger_once"
		"targetname" "Item_zm_Bullet_2_drop"
	}
	insert:
	{
	        "OnStartTouch" "!self,kill,,0,-1"
	}
}