;Use fog farz to help offset garbage map optimization
modify:
{
	match:
	{
		"classname" "env_fog_controller"
		"targetname" "fog1"
	}
	replace:
	{
		"farz" "2000"
	}
}

;Translation credits
modify:
{
	match:
	{
		"classname" "logic_auto"
	}
	insert:
	{
		"OnMapSpawn" "cmd,Command,say << Map translated by big willy koen >>,10,1"
	}
}

;Translate the map
modify:
{
	match:
	{
		"classname" "logic_script"
		"targetname" "sh1script"
	}
	replace:
	{
		"vscripts" "Villagehead/blackblood_patched.nut"
	}
}

;Move game_text to the left due to CSGO cutting off text
modify:
{
	match:
	{
		"classname" "game_text"
	}
	replace:
	{
		"x" "0.15"
	}
}