; Translation credits
modify:
{
	  match:
	  {
	  	"classname" "logic_auto"
  	}
  	insert:
  	{
  		"OnMapSpawn" "cmd,Command,say << Map translated by koen >>,10,1"
  	}
}

; Translate the map
modify:
{
	  match:
  	{
	  	"classname" "logic_script"
	  	"targetname" "sh1script"
  	}
  	replace:
  	{
	  	"vscripts" "Villagehead/blackblood_patched.nut"
  	}
}

; Move game_text to the left due to CSGO cutting off text
modify:
{
  	match:
	  {
	  	"classname" "game_text"
  	}
  	replace:
  	{
	  	"x" "0.2"
  	}
}
