
#Stripper 
stripper/ze_obj_npst_v2.cfg
stripper/ze_rush_b_v2_2.cfg
stripper/ze_ffxiv_wanderers_palace_v6.cfg
stripper/ze_ffxiv_wanderers_palace_v5_2.cfg
stripper/ze_ffxiv_pharos_sirius_v1_6
stripper/ze_ffvii_mako_reactor_v5_3_v5

#vscripts
vscripts/kotya/npst/prespawn/alpha.nut
vscripts/kotya/npst/barnacle/barnacle.nut
vscripts/kotya/npst/barnacle/barnacle_old.nut
vscripts/kotya/npst/prespawn/beam_temp.nut
vscripts/kotya/npst/randomstaff/camera.nut
vscripts/kotya/npst/nihilanth/fireball.nut
vscripts/kotya/npst/gargantua/gargantua.nut
vscripts/kotya/npst/gargantua/gargantua_fight.nut
vscripts/kotya/npst/scat/greenball.nut
vscripts/kotya/npst/item/heal.nut
vscripts/kotya/npst/randomstaff/instructor.nut
vscripts/kotya/npst/quest/keypad.nut
vscripts/kotya/npst/nihilanth/laser.nut
vscripts/kotya/npst/prespawn/lightd_temp.nut
vscripts/kotya/npst/main.nut
vscripts/kotya/npst/randomstaff/music.nut
vscripts/kotya/npst/nihilanth/nihilanth.nut
vscripts/kotya/npst/prespawn/particle_temp.nut
vscripts/kotya/npst/randomstaff/player_manager.nut
vscripts/kotya/npst/prespawn/prop_temp.nut
vscripts/kotya/npst/randomstaff/randomspawner.nut
vscripts/kotya/npst/scat/scat.nut
vscripts/kotya/npst/sniper/sniper — копия.nut
vscripts/kotya/npst/sniper/sniper.nut
vscripts/kotya/npst/sniper/sniperbullet.nut
vscripts/kotya/npst/prespawn/sound_temp.nut
vscripts/kotya/npst/prespawn/sprite_temp.nut
vscripts/kotya/npst/nihilanth/teleprop.nut
vscripts/kotya/npst/prespawn/trigger_temp.nut
vscripts/rushb/item_pickup.nut
vscripts/rushb/rushb.nut
vscripts/bxzl/ze_FFVII_Mako_Reactor_v5_3_v5.nut
